{% extends "main.html" %}
{% block adminlog %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Real-Time Face Recognition</h1>
                    <div class="video-container">
                        <img src="{{ url_for('face_recog') }}" alt="Video Feed" class="img-fluid border border-primary rounded shadow-lg">
                    </div>
                    <div class="text-center mt-4">
                        <!-- Custom Login Button -->
                        <a href="{{url_for('admin_panel')}}" class="btn btn-primary btn-lg rounded-pill shadow-sm" style="background-color: #007bff; border: none; padding: 10px 40px;">
                            Login with Face Recognition
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock adminlog %}
