{% extends "main.html" %}

{% block panel %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-body text-center">
                    <h1 class="card-title mb-4">Welcome to the Admin Panel</h1>
                    <p class="card-text">You have successfully logged in as an administrator.</p>
                    <!--<a href="#" class="btn btn-primary btn-lg rounded-pill">Go to Dashboard</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock panel %}
