<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition</title>
    <style>
        video {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Real-Time Face Recognition</h1>
    <div style="text-align: center;">
        <img src="{{ url_for('face_recog') }}" alt="Video Feed" width="720" height="480">
    </div>
</body>
</html>
